body {
  background: #ECE9E6;
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  font-size: 62.5%;
}

.inputArea {
  font-size: 2em;
}

.movieCard {
  border: 2px solid black;
  font-size: 2em;
  justify-content: space-between;
}

.flexRow {
  display: flex;
  flex-direction: row;
}
